<!--
    Create the title to provide the titile
    Create action for button such as save or cancle
    Create the content for the form adding elements
  -->

<div mat-dialog-title> 
    <h1> Movie Management Form</h1>
</div>

<form [formGroup]="movieForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content"> 
        <!-- Form with HTML basics here
        
            For refeshing purpose: https://www.w3schools.com/html/html_forms.asp
        
        
        -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Movie ID</mat-label>
                <input matInput type="text" placeholder="Example: mv1" formControlName="movieID">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Movie Name</mat-label>
                <input matInput type="text" placeholder="Example: The Nun" formControlName="movieName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Movie Code</mat-label>
                <input matInput type="text" placeholder="Example: TN02" formControlName="movieCode">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Release Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="releaseDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Director</mat-label>
                <input matInput type="text" placeholder="Example: Christopher Nolan" formControlName="directorName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Language</mat-label>
                <mat-select formControlName="movieLanguage">
                    <mat-option *ngFor="let val of language" [value]="val">{{val}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select Screen Option">
                <mat-radio-button value="1">V-Max</mat-radio-button>
                <mat-radio-button value="2">I-Max</mat-radio-button>
                <mat-radio-button value="2">Original</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div mat-dialog-actions class="action"> 
        <button mat-raised-button color="primary" type="submit"> Save</button>
        <button mat-raised-button> Cancle</button>

    </div>
</form>
