<div class="container my-10">
    <h1 class="mb-10"Books List></h1>
    
        <table class ="table" *ngIf="books && books.length > 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Genre</th>
                    <th>Author_Email</th>
                    <th>Published_Year</th>
                    <th>Edition</th>
                    <th>Language</th>
                    <th>Price</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.id}}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.author_Email }}</td>
                    <td>{{ book.published_Year }}</td>
                    <td>{{ book.edition }}</td>
                    <td>{{ book.language }}</td>
                    <td>{{ book.price }}</td>
                    <td><a [routerLink]="['/books', 'edit', book.id]">View</a></td>

                </tr>
            </tbody> 
        </table>
        <p *ngIf="!books || books.length <=0">No Books Found</p>
</div>